In [4]:
# Importing Important Libraries
import numpy as np
import pandas as pd

In [6]:
# Importing my Dataset
df=pd.read_csv("Path_of_Dataset")

In [7]:
# Checking the NULL values in the dataset
df.isnull().sum().any()

np.True_

In [8]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Property_ID           101000 non-null  str
 1   Micro_Market          101000 non-null  str
 2   Project_Name          101000 non-null  str
 3   Developer_Name        101000 non-null  str
 4   Unit_Size_Sqft        90954 non-null   float64
 5   Configuration         101000 non-null  str
 6   Ticket_Price_Cr       90981 non-null   str
 7   Transaction_Type      101000 non-null  str
 8   Buyer_Type            101000 non-null  str
 9   Purchase_Quarter      101000 non-null  str
 10  Connectivity_Score    101000 non-null  float64
 11  Amenity_Score         90910 non-null   float64
 12  Possession_Status     101000 non-null  str
 13  Sales_Channel         101000 non-null  str
 14  NRI_Buyer             101000 non-null  str
 15  Locality_Infra_Score  101000 non-null  float64
 16  Avg_Traffic_Time_Min  101000 non-null  int64
 17  Buyer_Comments        82713 non-null   str
dtypes: float64(4), int64(1), str(13)
memory usage: 25.7 MB

In [9]:
# Count NULLs per column
df.isnull().sum().sort_values(ascending=False)

Buyer_Comments          18287
Amenity_Score           10090
Unit_Size_Sqft          10046
Ticket_Price_Cr         10019
Micro_Market                0
Property_ID                 0
Configuration               0
Transaction_Type            0
Developer_Name              0
Project_Name                0
Purchase_Quarter            0
Buyer_Type                  0
Possession_Status           0
Connectivity_Score          0
Sales_Channel               0
NRI_Buyer                   0
Locality_Infra_Score        0
Avg_Traffic_Time_Min        0
dtype: int64

Unit_Size_Sqft
<class 'float'>    101000
Name: count, dtype: int64

In [14]:
df.info()
df.isnull().sum()

<class 'pandas.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Property_ID           101000 non-null  str
 1   Micro_Market          101000 non-null  str
 2   Project_Name          101000 non-null  str
 3   Developer_Name        101000 non-null  str
 4   Unit_Size_Sqft        90954 non-null   float64
 5   Configuration         101000 non-null  str
 6   Ticket_Price_Cr       90981 non-null   str
 7   Transaction_Type      101000 non-null  str
 8   Buyer_Type            101000 non-null  str
 9   Purchase_Quarter      101000 non-null  str
 10  Connectivity_Score    101000 non-null  float64
 11  Amenity_Score         90910 non-null   float64
 12  Possession_Status     101000 non-null  str
 13  Sales_Channel         101000 non-null  str
 14  NRI_Buyer             101000 non-null  str
 15  Locality_Infra_Score  101000 non-null  float64
 16  Avg_Traffic_Time_Min  101000 non-null  int64
 17  Buyer_Comments        82713 non-null   str
dtypes: float64(4), int64(1), str(13)
memory usage: 25.7 MB

Property_ID                 0
Micro_Market                0
Project_Name                0
Developer_Name              0
Unit_Size_Sqft          10046
Configuration               0
Ticket_Price_Cr         10019
Transaction_Type            0
Buyer_Type                  0
Purchase_Quarter            0
Connectivity_Score          0
Amenity_Score           10090
Possession_Status           0
Sales_Channel               0
NRI_Buyer                   0
Locality_Infra_Score        0
Avg_Traffic_Time_Min        0
Buyer_Comments          18287
dtype: int64

In [16]:
# Dataset shape
print("Shape:", df.shape)

# Column names
print("\nColumns:\n", df.columns)

# Data types
print("\nData Types:\n")
df.info()

Shape: (101000, 18)

Columns:
 Index(['Property_ID', 'Micro_Market', 'Project_Name', 'Developer_Name',
       'Unit_Size_Sqft', 'Configuration', 'Ticket_Price_Cr',
       'Transaction_Type', 'Buyer_Type', 'Purchase_Quarter',
       'Connectivity_Score', 'Amenity_Score', 'Possession_Status',
       'Sales_Channel', 'NRI_Buyer', 'Locality_Infra_Score',
       'Avg_Traffic_Time_Min', 'Buyer_Comments'],
      dtype='str')

Data Types:

<class 'pandas.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Property_ID           101000 non-null  str
 1   Micro_Market          101000 non-null  str
 2   Project_Name          101000 non-null  str
 3   Developer_Name        101000 non-null  str
 4   Unit_Size_Sqft        90954 non-null   float64
 5   Configuration         101000 non-null  str
 6   Ticket_Price_Cr       90981 non-null   str
 7   Transaction_Type      101000 non-null  str
 8   Buyer_Type            101000 non-null  str
 9   Purchase_Quarter      101000 non-null  str
 10  Connectivity_Score    101000 non-null  float64
 11  Amenity_Score         90910 non-null   float64
 12  Possession_Status     101000 non-null  str
 13  Sales_Channel         101000 non-null  str
 14  NRI_Buyer             101000 non-null  str
 15  Locality_Infra_Score  101000 non-null  float64
 16  Avg_Traffic_Time_Min  101000 non-null  int64
 17  Buyer_Comments        82713 non-null   str
dtypes: float64(4), int64(1), str(13)
memory usage: 25.7 MB

In [17]:
# Missing values count
missing_values = df.isnull().sum()
missing_values[missing_values > 0]

Unit_Size_Sqft     10046
Ticket_Price_Cr    10019
Amenity_Score      10090
Buyer_Comments     18287
dtype: int64

In [18]:
# Fill numeric columns with median
numeric_cols = df.select_dtypes(include=["int64", "float64"]).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

# Fill categorical columns with mode
categorical_cols = df.select_dtypes(include=["object"]).columns
for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

C:\Users\agnes\AppData\Local\Temp\ipykernel_1708\156114247.py:6: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  categorical_cols = df.select_dtypes(include=["object"]).columns

In [19]:
# Check duplicates
print("Duplicate rows:", df.duplicated().sum())

# Drop duplicates
df = df.drop_duplicates()

Duplicate rows: 1000

In [20]:
# Strip spaces and standardize text
for col in categorical_cols:
    df[col] = df[col].str.strip().str.title()

In [21]:
# Convert Ticket Price to numeric if needed
if "Ticket_Price_Cr" in df.columns:
    df["Ticket_Price_Cr"] = pd.to_numeric(df["Ticket_Price_Cr"], errors="coerce")

# Convert Amenity Score to numeric
if "Amenity_Score" in df.columns:
    df["Amenity_Score"] = pd.to_numeric(df["Amenity_Score"], errors="coerce")

In [25]:
# Check unique booking status values
df["Possession_Status"].value_counts()

Possession_Status
Under Construction    33410
Launch                33341
Ready To Move         33249
Name: count, dtype: int64

In [26]:
# Check unique booking status values
 
df["Possession_Status"] = df["Possession_Status"].replace({
    "Booked ": "Booked",
    "Not Booked": "Not Booked"
})

In [27]:
# Create Quarter column if Date exists
if "Booking_Date" in df.columns:
    df["Booking_Date"] = pd.to_datetime(df["Booking_Date"], errors="coerce")
    df["Quarter"] = df["Booking_Date"].dt.to_period("Q").astype(str)

In [28]:
# Final check
print("Final Shape:", df.shape)
print("\nMissing values after cleaning:\n", df.isnull().sum().sum())

Final Shape: (100000, 18)

Missing values after cleaning:
 18038

In [30]:
# Save cleaned dataset
df.to_csv("cleaned_data.csv", index=False)

print("Cleaned dataset saved successfully!")

Cleaned dataset saved successfully!